/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 970px;
  margin: 0 auto;
}

nav ul li {
  display: block;
  float: left;
}